*.lprof
*.lprofile
*.profile
*.pyc
*.so
*.mod
*.o
library/compile_new.sh
.gitignore
setup.sh
.metadata/
.project
.idea/
.pydevproject
.settings
test-code/
Input/
Parfiles/
gpu_all_complete_nf_high_wasp76b_submit.sh
nodes
Preselector/
backup/
Output/
taurex.xcworkspace*
NOTES.txt
Original_codes/*
