*.lprof
*.lprofile
*.profile
*.pyc
*.so
*.mod
*.o
library/compile_new.sh
.gitignore
34_minutes_test.o612068
fall_complete_n_wasp76b_high.o612037
setup.sh
.metadata/
.project
.idea/
.pydevproject
.settings
test-code/
Input/
Parfiles/
Hubble_Retrievals/
gpu_all_complete_nf_high_wasp76b_submit.sh
compute_convergence_test.sh
gpu_convergence_test.sh
old_gpu_test.sh
nodes
Preselector/
backup/
Output/
taurex.xcworkspace*
NOTES.txt
Original_codes/*
